<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.wxkm.mapper.locReg.LocationRegisterMapper">

<select id="queryUsersByCity" parameterType="String" resultType="com.neusoft.wxkm.model.UserLocationInfo">
						SELECT 		
								u.user_alias AS userAlias, 
								`name`,
								latitude AS latitude, 
								longitude AS longitude, 
								city,
								employee_id AS employeeId,
								`timestamp`
							
						FROM
								wx_app_db.location_register AS reg,`User` AS u
								
						WHERE 
								reg.user_alias=u.user_alias and city=#{city}
								
						ORDER BY `timestamp` DESC
						
</select>
<insert id="insert" parameterType="com.neusoft.wxkm.model.LocationRegister">
					<![CDATA[
						INSERT INTO wx_app_db.location_register 
							(loc_id, 
							user_alias, 
							latitude, 
							longitude, 
							city, 
							`TIMESTAMP`
							)
							VALUES
							(
							#{locId}, 
							#{userAlias}, 
							#{latitude}, 
							#{longitude}, 
							#{city}, 
							#{timestamp}
							);
					]]>
					<selectKey resultType="String" keyProperty="locId" order="AFTER">
				 <![CDATA[
				SELECT LAST_INSERT_ID() AS ID
				 ]]>
		</selectKey>
</insert>


<delete id="delete" parameterType="com.neusoft.wxkm.model.LocationRegister">
						<![CDATA[
							delete from wx_app_db.location_register
							where 
								user_alias=#{userAlias}
								
							
						]]>
						
</delete>

</mapper>
