<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.wxkm.mapper.advice.AdviceMapper">


<insert id="insert" parameterType="com.neusoft.wxkm.model.Advice">
						<![CDATA[
						
						INSERT INTO wx_app_db.Advice 
							(advice_id, 
							advice_content, 
							user_alias, 
							`timestamp`
							)
							VALUES
							(#{adviceId}, 
							#{adviceContent}, 
							#{userAlias}, 
							#{timestamp}
							);

					]]>
					<selectKey resultType="String" keyProperty="adviceId" order="AFTER">
				 <![CDATA[
				SELECT LAST_INSERT_ID() AS ID
				 ]]>
		</selectKey>
</insert>

</mapper>
